body {
  background-color: #3a4660;
  margin-top: 100px;
  margin-left: 10%;
  margin-right: 10%;
}

h1 {
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: Averta, sans-serif;
  color: #fff;
  font-size: 56px;
  line-height: 44px;
  font-weight: 700;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Averta, sans-serif;
  color: #fff;
  font-size: 22px;
  line-height: 36px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

h4 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Averta, sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  font-style: normal;
  font-weight: 700;
}


p {
  margin-bottom: 20px;
  font-family: Averta, sans-serif;
  color: #fff;
  font-size: 22px;
  line-height: 30px;
}

a {
  -webkit-transition: border-color 200ms ease, color 200ms ease;
  transition: border-color 200ms ease, color 200ms ease;
  color: #fff;
  text-decoration: none;
}

a:hover {
  border-bottom-color: #1d2330;
  color: #1d2330;
}

a:focus {
  border-bottom-color: #1d2330;
  color: #1d2330;
}

.content {
  margin-top: 60px;
}

.social-icon {
  margin-top: 60px;
  padding-right: 25px;
  float: left;
  border-bottom: 0px none #000;
}
