<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='portfoliostyle.css') }}">
		<a href ="/templates/home.html"><button>Back to Home</button></a>
		<a href ="/templates/casestudies.html"><button>Case Studies</button></a>
		<h1 class="entry-title">GitLab Navigation UX Research</h1>
</head>

		<h3>I conducted a series of studies related to improving Navigation in GitLab. Research methods included usability benchmarking, card sorting, tree testing, and stakeholder interviews.</h3>


<h3>Improvements to GitLab’s left sidebar</h3>
<p>This research came after significant improvements had already been made to the navigation and the UX team was continuing to build on that momentum. After addressing issues with the placement of global and contextual elements, most of our research began to focus on the information architecture of the sidebars, especially the left one. This is in part because of the fact that the left sidebar became the “go-to” place for adding links to new features and was quickly becoming more impacted than before.</p>

<p>2017-12 <a href="https://gitlab.com/gitlab-org/ux-research/issues/35">Project &amp; Group Level Card Sorts</a></p>

<ul><li>Research Objective: Evaluating the information architecture of the left sidebar, in order to better understand how users categorize GitLab features and align the content more closely with user expectations.</li><li>Methodology: Open card-sort of contextual navigation items. Users were asked to order content within the categories.</li><li>Conclusion: This research resulted in a recommended structure for the contextual navigation at a project and group level. This included recommendations such as changing the “Analytics” category to “Statistics” at the group level, moving “Contributor Analytics” under the “Statistics” category at the group level, moving “Details” under “Project” at the project level, and more.</li></ul>

<p>2018-03 <a href="https://gitlab.com/gitlab-org/ux-research/issues/43">Project &amp; Group Level Tree Testing</a></p>

<ul><li>Research Objective: Assessing the amount of an improvement shown by using the recommended structure for the contextual navigation that was created based on a card-sorting study. Understanding whether the differences in how content is organized at a project and a group level causes users confusion.</li><li>Methodology: Tree-testing the existing contextual navigation at a project and group level. Testing the recommended structure for the contextual navigation at a project and group level.</li><li>Conclusion: This research resulted in suggested, iterative changes that were recommended to be made to the sidebar. The results of the tree-test showed that a hybrid of the existing and proposed structure worked best and the recommendations outlined context for the proposed changes.</li></ul>



<h3>Evaluating the proposal to organize GitLab’s left sidebar by the 9 DevOps stages</h3>
<p>In October 2018, a <a href="https://gitlab.com/gitlab-org/ux-research/issues/108">research proposal</a> was opened, asking the question of how to better organize the links the left sidebar. Additionally, this research proposal suggested that we should organize the left sidebar by GitLab’s 9 DevOps stages, in order to align with the way our company was being structured.</p>

<p>Three rounds of research were conducted in order to benchmark the usability of the left sidebar, determine whether users were familiar with GitLab’s DevOps stages, and evaluate the findability of items (when presented with stage names as top-level categories). We concluded that this series of research did not support ordering the left sidebar with GitLab’s 9 DevOps stages as top-level items due to how the results compared to previous tests, usability concerns, and feedback from users.</p>

<p>2018-11 <a href="https://gitlab.com/groups/gitlab-org/-/epics/1213">Benchmarking sidebar navigation – Usability Testing</a></p>

<ul><li>Research Objective: Understand user experiences navigating throughout GitLab. Understand the cold and hot spots of the left side navigation. Understand what should be top-level, flattened, added, removed, etc.</li><li>Methodology: Conduct usability benchmarking on the existing left side navigation via user’s own GitLab instance. Testing occurred with GitLab.com users, with the exception of User 5. User 5 completed Task 15 in the same way as other users but was shown a mockup from GitLab documentation, in order to evaluate the Operations Dashboard icon.</li><li>Conclusion:<ul><li>Feature recognition: Some users are aware of the concept of a feature but do not know the exact name of it. They may be more oriented towards looking for it under a “section” (such as CI/CD or Issues) even if they can’t pinpoint it. Other users remember feature names very well (e.g. heard about it in a blog post, release update, etc) but aren’t aware of how to actually find that feature.</li><li>Context: Many users have multiple groups set up across their instance to manage projects, clients, applications, and more. Due to this, some users lost context for certain features because they were only enabled in a certain project. They’d have to navigate to the right project before finding the feature available. Users were immediately able to recognize that they were in the wrong project for tasks related to CI/CD and Issues but had less memory of these differences when it came to other features.</li></ul></li></ul>

<p>2018-12 <a href="https://gitlab.com/groups/gitlab-org/-/epics/1235">Sidebar navigation – Card Sort</a></p>
<ul><li>Research Objective: As we continued to discuss the proposal to reorder the left sidebar by GitLab’s 9 DevOps stages (<a href="https://katherineokpara.com/gitlab-org/uxr_insights/-/issues/108">#108</a>), we decided to conduct further research to better understand how users categorize GitLab features.</li><li>Methodology: Open card-sort of the existing project-level left sidebar features (user create their own categories). Hybrid card-sort for the project-level left sidebar features (users are asked to sort features into the 9 DevOps stages, but they can also create their own categories).</li><li>Conclusion:<ul><li>Open card-sort: There was a lot of disagreement over how to categorize left sidebar items. The smallest amount of categories a card was sorted into was 17, the largest amount was 28. Despite variations in what the categories were named, many participants created categories with similar concepts such as “Dev” or “Source” or “Code” for items related to the current Repository left sidenav item.</li><li>Hybrid card-sort: There was a lot of disagreement over where left sidebar items should go. The smallest amount of categories a card was sorted into was 4, the largest amount was 11. The categories with the highest level of agreement were “Create” (26% agreement), Package (25% agreement), “Plan” (22% agreement) The categories with the lowest level of agreement were “Configure” (13% agreement), “Manage” (14% agreement), “Verify” (16% agreement). 50% of participants had some level of familiarity with GitLab’s 9 DevOps stages.</li></ul></li></ul>


<p>2018-12 <a href="https://gitlab.com/groups/gitlab-org/-/epics/1236">Sidebar navigation – Tree Testing</a></p>
<ul><li>Research Objective: The objective of this research was to better understand how users understand GitLab’s product offerings and evaluate the findability of the proposed navigation structure.</li><li>Methodology: Tree Testing of a left sidebar organized by DevOps stages via Optimal Workshop.</li><li>Conclusion: While it may be possible to teach users about GitLab’s 9 DevOps stages and have them learn to use the updated left sidebar, the findings and feedback from users show that the layers of sub-navigation would ultimately make navigation a noisier and more cumbersome experience.<ul><li>Instead of just understanding the feature of “Issues Tracker,” users would need to process a high-level category such as “Plan” or “Project Management” and then drill-down to the exact feature they desire. This is especially concerning due to the fact that not all users were aware of GitLab’s 9 DevOps stages.</li><li>Additionally, a few of the names of the 9 DevOps stages are not immediately descriptive (e.g. “Manage,” “Create,” “Configure”) and may require a bit more guesswork to understand the variety of features that could fall under there.</li></ul></li></ul>

<h3>Navigation Research Initiative </h3>
<p>The outcome of all of the navigation research I conducted over the years was an understanding of the core pain points and usability issues users face when navigating throughout GitLab. The main themes of the resulting research initiative were&nbsp;<strong>context</strong>&nbsp;and&nbsp;<strong>discoverability</strong>.</p>

<p>I investigated the paths that users take throughout GitLab and considered how we should balance the needs of users who have contrasting team sizes, roles, and product tiers. </p>

<p>2019-06 <a href="https://gitlab.com/gitlab-org/ux-research/issues/211">Stakeholder interviews</a> </p>
<p>Research objective: Understand what internal stakeholders need and expect from the flow of GitLab’s navigation, feature discoverability, and usability. </p>
<p>Methodology: 6 user interviews with GitLab employees.</p>
<p>Conclusion: Going forward we need to better understand the needs of users with “cross-stage” workflows (using multiple features and therefore interacting with more areas of navigation). Ordering navigational elements in a way that’s intuitive to our users is more important than reflecting our org chart. Setting context with a home page that displays information that’s most relevant to the user. We need to make improvements to landing pages that users encounter after logging in. Make it easier to maintain context by reducing the amount of screen-switching. Make it easier to get back to where you started (frequently used activity). Provide search capabilities in the navigation Secure and Monitor features are very likely to cross into multiple stages and should feel more seamless.</p>
</div>
</div>

<h4>Insights and Next Steps</h4>
</div>


<p class="has-normal-font-size"><a href="https://about.gitlab.com/blog/2019/07/31/navigation-state-of-play/"><strong>History of GitLab’s navigation (blog post)</strong><br></a><a href="https://gitlab.com/groups/gitlab-org/-/epics?scope=all&amp;utf8=%E2%9C%93&amp;state=all&amp;label_name[]=uxr_insights&amp;label_name[]=navigation&amp;author_username=katokpara">View list of studies</a></p>
</div>
</div>
</html>
